/*
<!-- Desciption: COS10020 Assignment2 - Page Style Sheet -->
<!-- Author: Lucas Moore -->
<!-- Date: 29/08/17 -->
<!-- Validated: 03/09/17 - CLEAR - No Errors -->
*/

body{font-family: Arial, sans-serif;} /* Sets Font */
h1{color: #B42929;} /* Heading Text Color */
div{padding: 2px;}
main{display: block;}

img{
	height: 10em;
}

#container, #header, #footer{
	border: 1px solid #B42929;
}

#container{
	background-color: #F2F2F2;
}

#nav, #content{
	display: table-cell;
}
#nav{
	min-width: 8em; border-right: 1px double #00f;
}

#nav ol{
	list-style-type: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

#nav a{
	float: left;
	width: 8em;
	text-decoration: none;
	text-align: center;
	color: #F2F2F2;
	background-color: #223059;
	padding: 0.2em 0.6em;
	border-top: 1px solid #fff;
}

#nav a:hover{
	background-color: #2F427A;
}

nav a.current {
  background:red;
  color:white;
}

#content{
	padding-left: 1em;
	padding-right: 1em;
}

.panel{
	visibility: hidden;
	height: 5px;
}

footer {
	text-align: center;
}

/* Terms And Coditions Modal Section /*
	/* Using CSS to style a button 
	*/
	#discWinClose {
		border           :1px solid black;
		border-radius    :6px;
		background-color :lightgrey;
		padding          :0.25em; /* Creates spacing around the text */
		cursor: pointer;
	}
	#discWinClose:hover {
		background-color :darkgrey;
	}

	/* Using CSS to style a window */
	.window {						/* apply style to HTML elements having a tooltip as class name */
		display	: none;				/* window is initially not visible */
		z-index	: 2;					/* place window on top */
		position : fixed;			/* place window on a fixed location  */

		top	: 45%;				/* place the top left corner of the window at  */
	  	left : 47%;				/* the centre of the screen */
	  	margin-top	: -5em;				/* adjust the windows by movin it up */ 
	  	margin-left	: -11em;      /* then moving it to the left to the centre of the window */
		
		background-color: #F2F2F2;
		border-radius : 5px;				/* create a rounded corner */
		border: solid;
		border-width: 0.5px;
		border-color: #8C2E36;
		padding	: 5px;				/* add a 5px spacing around the text */
		padding-left: 10px;
		padding-right: 10px;
		width : 27em;
		height : 15em;
		text-align : center;

	}

	/* sets up a transparent pane on the screen, preventing the user to click on any
	   items at layer 0 on the screen */
	#scrnOverlay {
		z-index	: 1;					/* use layer 1 to overlay everything in layer 0 */
		visibility	: hidden;

		position : fixed;		/* Block out the whole screen */
		top	: 0;
		bottom : 0;
		left : 0;
		right : 0;

		background-color : #212426;
	  	opacity : 0.6;
	  	filter : alpha(opacity=50); /* For IE8 and earlier */
	}